<p>
  <strong>Title:</strong>
  <%= @customer.phonenumber %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @customer.address %>
</p>

<h2>Previous Orders</h2>
<%= render @customer.orders %>

<h2>Add an order</h2>
<%= render 'orders/form' %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Delete', customer_path(@customer),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', customers_path %> 
